.about__service__section {
  margin-bottom: 100px;
}

.how__work__container div h4 {
  color: #f9a826;
  font-size: 1.2rem;
}

.how__work__tricks p {
  color: #7c8a97;
  font-size: 0.9rem;
  text-align: justify;
}

.how__work__container {
  display: flex;
  align-items: center;
}

.how__work__container i {
  color: rgb(14, 80, 49);
  font-size: 1.3rem;
}

.how__work__container {
  margin-bottom: 15px;
}

.how__work__tricks h4 {
  margin-bottom: 6px;
}

.how__work__tricks p {
  margin-bottom: 0;
}
