.header__top {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 10px 0;
}

.header__top__left,
.header__top__help,
.header__top__right {
  display: flex;
  align-items: center;
}

.header__top__left {
  column-gap: 1rem;
}

.header__top__help {
  column-gap: 0.4rem;
}

.header__top__help i {
  background-color: white;
  color: rgb(25, 135, 84);
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 0.7rem;
}

.header__top__right {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}

.header__top__right a,
.header__top__help span {
  font-size: 0.9rem;
}

.header__top__right a {
  color: white;
  transition: color 0.6s;
}

.header__top__right a:hover {
  color: rgb(93, 198, 247);
}

.header__top__right a.active {
  color: rgb(93, 198, 247);
  border-bottom: 2px solid rgb(93, 198, 247);
}

/* Header middle styles */

.header__middle {
  padding: 20px 0;
}

.header__middle__logo h1 a {
  color: rgb(25, 135, 84);
  font-weight: 700;
}

.header__middle__logo h1 a span {
  font-size: 1.5rem;
}

.header__middle__logo h1 a i {
  font-size: 2.2rem;
}

.header__middle__workday i,
.header__middle__location i {
  font-size: 2.2rem;
  color: rgb(25, 135, 84);
}

.header__middle__workday h4,
.header__middle__location h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.header__middle__workday h6,
.header__middle__location h6 {
  font-size: 1rem;
  font-weight: 600;
}

.request__btn div {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  font-size: 0.9rem;
}

/* Header Navigation Styles */

.header__navbar {
  padding: 16px 0;
  background-color: rgb(25, 135, 84);
}

.toggle__menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  color: white;
  position: relative;
}

.toggle__menu a {
  color: white;
  transition: color 0.3s;
}

.toggle__menu a:hover {
  color: rgb(93, 198, 247);
}

.toggle__menu a.active {
  color: rgb(93, 198, 247);
  border-bottom: 2px solid rgb(93, 198, 247);
}

.searchElement {
  padding: 7px 12px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(11, 61, 38);
}

.searchElement input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-right: 10px;
}

.searchElement input::placeholder {
  color: white;
}

.searchElement i {
  color: rgb(245, 231, 205);
  cursor: pointer;
  font-size: 20px;
}

.mobile__menu {
  color: white;
  display: none;
}

.mobile__menu i {
  font-size: 1.2rem;
}

.closeMenu {
  display: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgba(11, 61, 38);
  position: absolute;
  top: 15px;
  right: 15px;
}

@media only screen and (max-width: 991px) {
  .header__top,
  .header__middle {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .mobile__menu {
    display: block;
  }

  .header__navigation__left {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 61, 38, 0.637);
    z-index: 9999;
    display: none;
  }

  .toggle__menu {
    width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.7rem;
  }

  .toggle__menu a {
    color: rgb(25, 135, 84);
    font-weight: 700;
    font-size: 1.2rem;
  }

  .menu__visible {
    display: block;
  }

  .closeMenu {
    display: block;
  }
}
