.header__top {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 10px 0;
}

.header__top__left,
.header__top__help,
.header__top__right {
  display: flex;
  align-items: center;
}

.header__top__left {
  column-gap: 1rem;
}

.header__top__help {
  column-gap: 0.4rem;
}

.header__top__help i {
  background-color: white;
  color: rgb(25, 135, 84);
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 0.7rem;
}

.header__top__right {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}

.header__top__right i {
  color: white;
}

.header__top__right a,
.header__top__help span {
  font-size: 0.9rem;
}

/* Header middle styles */

.header__middle {
  padding: 20px 0;
}

.header__middle__logo h1 a {
  color: rgb(25, 135, 84);
  font-weight: 700;
}

.header__middle__logo h1 a span {
  font-size: 1.5rem;
}

.header__middle__logo h1 a i {
  font-size: 2.2rem;
}

.header__middle__workday i,
.header__middle__location i {
  font-size: 2.2rem;
  color: rgb(25, 135, 84);
}

.header__middle__workday h4,
.header__middle__location h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

.header__middle__workday h6,
.header__middle__location h6 {
  font-size: 1rem;
  font-weight: 600;
}

.request__btn a {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  font-size: 0.9rem;
}

/* Header Navigation Styles */

.header__navbar {
  padding: 16px 0;
  background-color: rgb(25, 135, 84);
}

.header__navigation__left {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  color: white;
}

.header__navigation__left a {
  color: white;
  transition: color 0.3s;
}

.header__navigation__left a:hover {
  color: rgb(93, 198, 247);
}

.header__navigation__left a.active {
  color: rgb(93, 198, 247);
  border-bottom: 2px solid rgb(93, 198, 247);
}

.searchElement {
  padding: 7px 12px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(11, 61, 38);
}

.searchElement input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.searchElement input::placeholder {
  color: white;
}

.searchElement i {
  color: rgb(245, 231, 205);
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
}
