.feedback__section {
  margin-bottom: 100px;
}

.feedback__slider {
  cursor: pointer;
}

.feedback__photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 2px;
}

.feedback__user h2 {
  font-size: 1.4rem;
  color: rgb(11, 61, 38);
}

.feedback__user h4 {
  color: #7c8a97;
  font-size: 0.9rem;
}

.detailed__rewiew {
  color: rgb(11, 61, 38);
  font-weight: 700;
}
