/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* Main Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* Customized Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(25, 135, 84);
  font-weight: 600;
}

h3,
h4 {
  font-size: 1.8rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
  margin: 0;
}

.btn {
  padding: 7px 15px;
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3 linear 0;
}

.btn:hover {
  color: white;
  background-color: rgba(25, 135, 84, 0.9);
}
